.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 14px;
    margin-left: auto;
}

.btn-login, .btn-register {
    cursor: pointer;
    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: right;
    text-transform: uppercase;
    color: #9B9FAA;
    text-decoration: none;
}

.btn-login.active, .btn-register.active {
    font-weight: 900;
    color: #212121;
}

.header-right {
    position: relative;
    display: flex;
    align-items: center;
}

.burger-menu {
    position: absolute;
    top: 100%;  /* sub burger */
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 100;
    min-width: 100px;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }
  
  .burger-menu button {
    padding: 10px 0;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    width: 100%;
  }
  
  .burger-menu a:hover,
  .burger-menu button:hover {
    background: #f5f5f5;
  }

.header-user-overlay {
    display: none;
}

.user-desktop-diary {
    display: none;
}



@media (max-width: 1023px) {
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header-user-overlay {
        height: 40px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        margin-right: 20px;
    }
    .logout-button {
        background-color: white;
    }
}

@media (min-width: 1024px) {
    .header-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .vertical-bar {
        margin-left: 20px;
        width: 2px;
        height: 30px;
        background-color: #E0E0E0;
        position: relative;
        bottom: -8px;
    }
    .auth-buttons {
        display: flex;
        align-items: flex-end;
        column-gap: 24px;
        margin-left: 20px;
        position: relative;
        bottom: -9px;
    } 
    .btn-login, .btn-register {
        width: auto;
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    .header {
        padding-top: 80px;
        padding-left: 16px;
        position: relative;
        z-index: 5;
    }
    .header-right {
        display: flex;
        align-items: center;
    }
}