.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: right;
    color: #212121;
}

.vertical-user-bar {
    width: 2px;
    height: 30px;
    background-color: #9B9FAA;
    color: #9B9FAA;
    margin: 0 16px 0 16px;
}

.logout-button {
    margin-left: 10px;
    margin-right: 20px;
    background-color: #E0E0E0;
    color: #9B9FAA;
    border: none;
    padding: 0 0;
    cursor: pointer;
    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
}

.modal-user-overlay {
    top: 0;
    right: 0;
    width: 100vw;
    height: 40px;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

.grey-tablet-login {
    position: relative;
    background-color: white;      /*    red;    */
    width: 100%;
    height: auto;
    z-index: 989999;
}

.summary-kcal {
    margin-bottom: 40px;
}

.summary-position {
    margin: 40px 20px 40px 20px;
}

.summary-text {
    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    margin-bottom: 34px;
}

.kcal-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #9B9FAA;
}

.txt {
    font-family: Verdana;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
}

.desktop-leafs {
    display: none;
}

.desktop-tablet-leafs {
    display: none;
}

.food-kcal {
    overflow: visible;
}

.kcal-plan span {
    display: block;
}

.not-rec {
    height: 96px;
    width: 350px;
    border: 1px solid #E0E0E0;
    overflow-y: auto;
    background-color: #F0F1F3;
}

.not-rec span {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .summary-food {
        position:absolute;
        left: 0;
        top: auto;
        right: 0;
        width: 100%;
        z-index: 999999;
        display: flex;
        flex-direction: column;
        background-color: #F0F1F3;
    }
}


@media (min-width: 768px) and (max-width: 1023px){
    .logout-button {
        background-color: white;
    }
    .grey-tablet-login {
        position: relative;
        background-color: white;      /*    red;    */
        width: 100%;
        height: auto;
        z-index: 989999;
    }
    .summary-food {
        display: flex;
        flex-direction: row;
    }
    .summary-kcal, .food-kcal {
        margin-bottom: 0;
        margin-top: 0;
    }
    .summary-position {
        margin: 80px auto 80px 32px;
        column-gap: 80px;
        display: flex;
        flex-direction: row;
    }
    .summary-food {
        position: absolute;
        left: 0;
        top: auto;
        right: 0;
        width: 100%;
        z-index: 999999;
        display: flex;
        flex-direction: column;
        background-color: #F0F1F3;
    }
    .desktop-tablet-leafs {
        display: block;
        position: absolute;
        background-color: transparent;
        bottom: 0;
        right: 0;
        left: auto;
        width: 60%;
        object-fit: cover;
        pointer-events: none;
        z-index: -1;
    }
}
.overlay {
    display: none;
}


@media (min-width: 768px) {
    .modal-user-overlay {
        display: none;
    }
}

@media (min-width: 1024px) {
    .burger-btn {
        display: none;
    }
    .user-info {
        min-height: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 140px;
    }
    .grey-tablet-login {
        display: none;
    }
    .summary-kcal, .food-kcal {
        margin-bottom: 0;
        margin-top: 0;
    }
    .summary-position {
        margin: 0;
        height: auto;
        width: 100%;
        row-gap: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9000000;
        margin-top: 100px;  /*200*/
    }
    .summary-food{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99990000;
        background-color: #F0F1F3;
        width: 50vw;
        height: 100%;   /*vh*/
        min-width: unset;
        max-width: 42vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .summary-fo {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    .form-desktop-position {
        position: static;
        width: 50%;
        min-width: 0;
        max-width: 50%;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-height: 100vh;
    }
    .main-content.desktop-position{
        position: relative;
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .main-content {
        margin: 0 0 0 0;
        padding-top: 0;
        padding-right: 0;
    }
    .overlay.name {
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .usernm  {
        font-family: Verdana;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 4%;
        text-align: right;
        color: #212121;
        margin-right: 16px;
        margin-left: 80px;
    }
    .vertical-bar {
        width: 2px;
        height: 32px;
        background-color: #E0E0E0;
        color: #E0E0E0;
        margin-right: 16px;
    }
    .logout-btn {
        background-color: #F0F1F3;
        border: none;
        font-family: Verdana;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 4%;
        cursor: pointer;
        color: #9B9FAA;
    }    
    .desktop-leafs {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100vh;
        object-fit:fill;
        z-index: 30000000;
        pointer-events: none;
    }
    .desktop-tablet-leafs {
        display: none;
    }
    .not-rec {
        height: 110px;
        width: 200px;
        margin-bottom: auto;
        border: 1px solid #E0E0E0;
        overflow-y: auto;
        background-color: #F0F1F3;
    }
}