@media (min-width: 768px) {
    .tablet-image {
        /* display: none; */
    }

}

@media (min-width: 1024px) {
    .user-desktop-diary {
        display: flex;
        column-gap: 24px;
        margin-left: 20px;
    }
    .diary {
        text-decoration: none;
        font-family: Verdana;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 4%;
        text-transform: uppercase;
        color: #9B9FAA;
    }
    .fruits-desktop {
        /* display: none; */
    }
    /* .grey-tablet-login {
        display: none;
    } */
}
